body {
    margin: 0;
    padding: 0;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Playfair Display', serif;
    background-image: url("texture.jpg");
}

* {
    box-sizing: border-box;
}

main {
    background-color: white;
}

header {
    padding: 50px;
    text-align: center;
}

header h1 {
    font-size: 3.5em;
    font-variant: small-caps;
    transition: font-size 0.6s;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navbar li a {
    width: 100%;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    transition: background-color 0.6s;
}

.right {
    width: 100%;
}

.navbar li a:hover {
    background-color: #ddd;
    color: black;
}

.about h2 {
    margin: 50px 60px;
}

.about h3 {
    text-align: center;
    padding: 20px;
}

.about h4 {
    margin: 20px 60px;
}

.about img {
    display: block;
    max-width: 500px;
    margin: auto;
}

.about  p {
    margin: 15px 60px;
    text-align: justify;
}


/* Contact Buttons */

#contact a {
    display: inline-block;
    margin: 10px 60px;
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
    width: 120px;;
    border: none;
    border-radius: 15px;
}


/* Contact Button Customizations */

.linkedin {
    background-color: rgb(0, 119, 181);
    color: white;
    box-shadow: 0 10px #888;
}

.linkedin:hover {
    background-color: rgba(0, 105, 175);
}

.linkedin:active {
    background-color: rgba(0, 105, 175);
    box-shadow: 0 5px #555;
    transform: translateY(4px);
}

.github {
    background-color: #333;
    color: white;
    box-shadow: 0 10px #888;
}

.github:hover {
    background-color: #222;
}

.github:active {
    background-color: #222;
    box-shadow: 0 5px #555;
    transform: translateY(4px);
}

.gmail {
    background-color: #333;
    color: white;
    box-shadow: 0 10px #888;
}

.gmail:hover {
    background-color: #222;
}

.gmail:active {
    background-color: #222;
    box-shadow: 0 5px #555;
    transform: translateY(4px);
}


/* Footer */

footer {
    text-align: center;
    padding: 20px;
}

footer address {
    padding: 10px;
}


/* For tablets */

@media only screen and (min-width: 600px) {
    main {
        min-width: 600px;
    }

    header h1 {
        font-size: 4em;
    }

    .navbar li {
        float: left;
    }

    .right {
        width: auto;
    }

    .navbar li a {
        width: auto;
        padding: 20px;
    }
}

/* For laptops */

@media only screen and (min-width: 800px) {
    main {
        width: 80%;
        min-width: 800px;
        margin: auto;
        border-style: solid;
        border-color: #111;
        border-radius: 10px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.3);
   }

    header h1 {
       font-size: 4.5em;
    }

    .navbar {
        border: solid  #111;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-radius: 6px 6px 0px 0px;
    }
}
